//------- JUST FOR DEBUGGING. REMOVE IN PRODUCTION!! --------//

figure {
    @include mq(tablet) {
        width: 740px;
    }

    @include mq(desktop) {
        width:960px;
    }

    @include mq(leftCol) {
        margin-left: -160px;
        width: 1100px;
    }
    @include mq(wide) {
        margin-left: -240px;
        width: 1260px;
    }
}